h1, h2 {
    font-family: 'Empire';
    padding-bottom: 1rem;
}

h1.landing-title {
    font-size: 5em;
    padding-top: 5rem;
}

p, span, #text {
    cursor: default;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  

h2 {
    padding-top: 2rem;
}

.card-group > .card {
    margin: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    background-color: #f2f4e5;
    transition: 0.2s ease-in-out;
}

.card:hover {
    background-color: #E9F8ED;
    transition: 0.2s ease-in-out;
}

.row > .btn {
    width: auto;
}

p, ul {
    font-size: 1.3em;
}

p.card-text {
    font-size: 1em;
}

p.project {
    padding: 0 5rem 0 5rem;
}

.btn.btn-secondary {
    margin-top: 1rem;
    float: right;
    background-color: #249B10;
    transition: 0.2s ease-in-out;
    border: none;
}

.btn.btn-secondary:hover {
    background-color: #117800;
    transition: 0.2s ease-in-out;
}

img.text-icon {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

img.card-img {
    padding: 1rem 1rem 0rem 1rem;
}

.card:hover img.text-icon {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

a[class='span nav-link'] {
    display: inline;
    padding: 0;
}

h3.subtitle {
    opacity: 0.5;
    padding-bottom: 0.7rem;
}

p.landing-para {
    font-size: 1.3em;
}

.card-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.page {
    background-color: #fafafa;
}

.container {
    padding: 8rem 10rem;
}

#problem-statement {
    font-size: 1.8em;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
    color: #003E95;
    padding-top: 1rem;
}


ul#research-questions {
    font-size: 1.4em;
    font-family: 'Poppins';
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 5rem;
}

summary.maplibregl-ctrl-attrib-button {
    display: none;
}

details.maplibregl-ctrl {
    display: none;
}

.maplibregl-ctrl-attrib-inner {
    display: none;
}

.map-container {
    padding-left: 2rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 2rem;
    background-color: #f2f4e5;
    border-radius: 10px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

img#splash-img {
    padding-bottom: 5rem;
}

.custom-overlay__caption {
    padding: 0.6rem;
    color: #fff;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.ReactGridGallery_custom-overlay {
    transition: 0.2s ease-in-out;
}

@media (min-width: 576px) {
    .card-group>.card:not(:first-child) {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}
@media (min-width: 576px) {
    .card-group>.card:not(:last-child) {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}