a.nav-link {
    color: #000;
}

.nav {
    padding: 0.5rem;
}

#branding {
    color: #000;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}